<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>movingStraightAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>2,3</string>
		<key>delay</key>
		<real>0.3</real>
		<key>filenamePrefix</key>
		<string>rocketship_</string>
	</dict>
	<key>rotatingLeftAndMovingStraightAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>5,6</string>
		<key>delay</key>
		<real>0.3</real>
		<key>filenamePrefix</key>
		<string>rocketship_</string>
	</dict>
	<key>rotatingRightAndMovingStraightAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>8,9</string>
		<key>delay</key>
		<real>0.3</real>
		<key>filenamePrefix</key>
		<string>rocketship_</string>
	</dict>
</dict>
</plist>
