<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>rocketship_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{123,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,206}}</string>
			<key>sourceSize</key>
			<string>{123,206}</string>
		</dict>
		<key>rocketship_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,210},{123,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,206}}</string>
			<key>sourceSize</key>
			<string>{123,206}</string>
		</dict>
		<key>rocketship_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,418},{123,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,206}}</string>
			<key>sourceSize</key>
			<string>{123,206}</string>
		</dict>
		<key>rocketship_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,626},{123,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,206}}</string>
			<key>sourceSize</key>
			<string>{123,206}</string>
		</dict>
		<key>rocketship_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,834},{123,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,206}}</string>
			<key>sourceSize</key>
			<string>{123,206}</string>
		</dict>
		<key>rocketship_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1042},{123,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,206}}</string>
			<key>sourceSize</key>
			<string>{123,206}</string>
		</dict>
		<key>rocketship_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1250},{123,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,206}}</string>
			<key>sourceSize</key>
			<string>{123,206}</string>
		</dict>
		<key>rocketship_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1458},{123,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,206}}</string>
			<key>sourceSize</key>
			<string>{123,206}</string>
		</dict>
		<key>rocketship_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1666},{123,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,206}}</string>
			<key>sourceSize</key>
			<string>{123,206}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jiangoAtlas.png</string>
		<key>size</key>
		<string>{128,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d48d89a7d8415d148b37c6b1455cf84d$</string>
		<key>textureFileName</key>
		<string>jiangoAtlas.png</string>
	</dict>
</dict>
</plist>
